{% extends 'base.html.twig' %}

{% block title %}{% trans %}My space{% endtrans %} - LocationImmo
{% endblock %}

{% block body %}
	<div id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
				<li style="background: linear-gradient(180deg, rgba(3,96,3,1) 0%, rgba(6,203,37,1) 40%, rgba(68,198,98,1) 80%);">
					<div class="container-fluid">
						<div class="row" style="overflow-x: auto;">
							<div class="col-sm-12 col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
								<div class="slider-text-inner">
                  <div class="admin">
										{% include "dashboard/_maintitle.html.twig" %}
                    <div class="row">
                      <div class="col-lg-3 aside-buttons">
												{% include "dashboard/_navigation.html.twig" %}
                      </div>
                      <div class="col-sm-12 col-lg-9">
												{% block table %}
													<h3 class="icon fa-caret-right">&nbsp;{% trans %}Welcome{% endtrans %} {{ is_granted('ROLE_USER') ? app.user.firstname : '' }}</h3>
													{% include "dashboard/_mainbg.html.twig" %}
												{% endblock %}
                      </div>
                    </div> 
								  </div>
                </div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
